* {
		margin: 0;
		padding: 0;
		}

html {
		font-size: 100%;
		}

body {
		font: 62.5%/1.5 Verdana, Arial, Helvetica, sans-serif;
		}

#wrapper {
		font-size: 1.2em;
		line-height: 1.5em;
		}

p {
		margin-bottom: 1.5em;
		}

/* ---------- add your code below ---------- */

#wrapper {
		padding: 36px 18px 18px;
		background: #ffffff url(background-gradient.gif) repeat-x;
		width: 500px;
		margin: 0 auto;
		}

body {
		background: #878787 url(background-drop-shadow.gif) 50% 0 repeat-y;
		}