* {
		margin: 0;
		padding: 0;
		}
	
html {
		font-size: 100%;
		}

body {
		font: 62.5%/1.5 Verdana, Arial, Helvetica, sans-serif;
		}

p {
		font: 1.1em/1.4 Verdana, Arial, Helvetica, sans-serif;
		margin-bottom: 1em;
		}

/* ---------- add your code below ---------- */



